div {
    background-color: red;
}

body {
    color: white;
    background-color: greenyellow;
}

button:hover {
    background-color: blue;
    transition: 0.1s;
}

input {
    background-color: aqua;
}

section {
    background-color: purple;
}